<div class="half-screen" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @food_tour.photo %>')">
</div>


<div class="container-margin">
  <div class="row">

    <div class="col-xs-12 col-md-8">
      <div>
        <h1><%= @food_tour.title %></h1>
        <h3>City: <%= @food_tour.city %></h3>
        <h3>cuisine: <%= @food_tour.cuisine %></h3>
        <h3>Price:<%= @food_tour.price %></h3>
        <h3>Dates: <%= @food_tour.dates %></h3>
        <h3>Description</h3>
        <p><%= @food_tour.description %></p>
        <% if policy(@food_tour).edit? %>
            <%= link_to "Update", edit_food_tour_path(@food_tour), class: "btn btn-warning" %>
            <%= link_to "Delete", food_tour_path, method: :delete, data: { confirm: 'Are you sure?'} , class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
       <div>
         <%= simple_form_for [@food_tour, @booking] do |f| %>
            <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
       </div>
    </div>
  </div>
</div>



