<% content_for(:title, @food_tour.title) %>

<div class="flex-container">
  <div class="flex-item bg-cover" style="background-image: url(<%=  cl_image_path @food_tour.photo %>)">
</div>

<div class="flex-item flex-date-cont">
 <%= simple_form_for [@food_tour, @booking] do |f| %>
    <%= f.input :date, as: :string, label: false, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>

<div class="flex-item flex-date-cont">
  <div class="center-list">
    <h3 class="text-center"><%= @food_tour.title %></h3>
    <div class="row">
      <div class="col-xs-6"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @food_tour.city %></div>
      <div class="col-xs-6"><i class="fa fa-usd" aria-hidden="true"></i> <%= @food_tour.price %></div>
      <div class="col-xs-6"><i class="fa fa-cutlery" aria-hidden="true"></i> <%= @food_tour.cuisine %></div>
      <div class="col-xs-6"><i class="fa fa-calendar" aria-hidden="true"></i> <%= @food_tour.dates %></div>
    </div>

    <hr>
    <p><%= @food_tour.description %></p>

    <% if policy(@food_tour).edit? %>
        <%= link_to edit_food_tour_path(@food_tour) do %>
          <h5><i class="fa fa-pencil" aria-hidden="true"></i></h5>
        <% end %>
        <%= link_to food_tour_path, method: :delete, data: { confirm: 'Are you sure?'} do %>
          <h5><i class="fa fa-trash-o" aria-hidden="true"></i></h5>
        <% end %>
    <% end %>
  </div>
</div>

<div class="flex-item">
  <div id="map-show" style="width: 100%; height: 45vh;"></div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map-show' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>





