<div class="container">
  <div class="wrapper">

    <div class="card-show">

      <h1><%= @food_tour.title %></h1>
      <h3>City: <%= @food_tour.city %></h3>
      <h3>cuisine: <%= @food_tour.cuisine %></h3>
      <h3>Price:<%= @food_tour.price %></h3>
      <h3>Dates: <%= @food_tour.dates %></h3>
      <h3>Description</h3>
      <p><%= @food_tour.description %></p>

      <% if policy(@food_tour).edit? %>
          <%= link_to "Update", edit_food_tour_path(@food_tour) %>
          <%= link_to "Delete", food_tour_path, method: :delete, data: { confirm: 'Are you sure?' %>
      <% end %>

    </div>

  </div>
</div>

<%= cl_image_tag @food_tour.photo %>
