<% content_for(:title, @food_tour.title) %>

<div class="flex-container">
  <div class="flex-item bg-cover" style="background-image: url(<%=  cl_image_path @food_tour.photo %>)">
</div>

<div class="flex-item flex-date-cont">
 <%= simple_form_for [@food_tour, @booking] do |f| %>
    <%= f.input :date, as: :string, label: false, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>

<div class="flex-item">
  <h1><%= @food_tour.title %></h1>
  <i class="fa fa-map-marker" aria-hidden="true"></i><h3><%= @food_tour.city %></h3>
  <h3><i class="fa fa-cutlery" aria-hidden="true"></i>
<%= @food_tour.cuisine %></h3>
  <h3>Price:<%= @food_tour.price %></h3>
  <h3>Dates: <%= @food_tour.dates %></h3>
  <h3>Description</h3>
  <p><%= @food_tour.description %></p>
  <% if policy(@food_tour).edit? %>
      <%= link_to "Update", edit_food_tour_path(@food_tour), class: "btn btn-warning" %>
      <%= link_to "Delete", food_tour_path, method: :delete, data: { confirm: 'Are you sure?'} , class: "btn btn-danger" %>
  <% end %>
</div>

<div class="flex-item">
  <div id="map-show" style="width: 100%; height: 45vh;"></div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map-show' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>





