<% content_for(:title, @food_tour.title) %>

<div class="flex-container">
  <div class="flex-item bg-cover" style="background-image: url(<%= cl_image_path @food_tour.photo? ? @food_tour.photo : 'fysedljjycu4kwcqsasb' %>)">
  </div>

  <div class="flex-item">
    <div class="center-list">
      <h3 class="text-center"><%= @food_tour.title %></h3>
      <div class="row">
        <div class="col-xs-6"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @food_tour.city %></div>
        <div class="col-xs-6"><i class="fa fa-usd" aria-hidden="true"></i> <%= @food_tour.price %></div>
        <div class="col-xs-6"><i class="fa fa-cutlery" aria-hidden="true"></i> <%= @food_tour.cuisine %></div>
        <div class="col-xs-6"><i class="fa fa-calendar" aria-hidden="true"></i> Start: <%= @food_tour.start_date %></div>

        <div class="col-xs-6">
          <% if policy(@food_tour).edit? %>
            <%= link_to edit_food_tour_path(@food_tour) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to food_tour_path, method: :delete, data: { confirm: 'Are you sure?'} do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
        <div class="col-xs-6"><i class="fa fa-calendar" aria-hidden="true"></i> End: <%= @food_tour.end_date %>
        </div>
      </div>
      <div class="row">
        <% if current_user != @food_tour.user || !user_signed_in? %>
          <div class="form-inline text-center">
            <%= render 'bookings/form_booking' %>
          </div>
        <% end %>
      </div>
      <hr>
      <p><%= @food_tour.description %></p>
      <hr>
        <% if !@food_tour.bookings.blank? %>
          <% @food_tour.bookings.each do |booking| %>
            <%= image_tag (booking.user.avatar), class: "avatar" %>
          <% end %>
        <% else %>
            <p> No attendees at the moment </p>
        <% end %>
    </div>
  </div>

  <script>
  function bindSweetAlertButtonDemo() {
    document.getElementById('sweet-alert-demo').addEventListener('click', () => {
      swal({
        title: "Awesome!",
        text: "Congrats, food tour booked!",
        icon: "success"
      })
    });
  }
  bindSweetAlertButtonDemo();
  let createBtn = document.getElementById('sweet-alert-demo')
  createBtn.addEventListener('click', () => {
    document.body.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/dashboard";
    })
  })
  </script>
</div>

<div class="flex-container">

  <div class="flex-items padded" style="width: 50%; height: 45vh;">
    <div id="reviews">
      <h2><%= pluralize @food_tour.reviews.size, "review" %></h2>
      <% if @food_tour.reviews.blank? %>
        Be the first to leave a review for <%= @food_tour.title %>
      <% else %>
        <% @food_tour.reviews.each do |review| %>
          <%= render 'reviews/show_review', review: review %>
        <% end %>
      <% end %>
    </div>
    <%= render 'reviews/form_review', food_tour: @food_tour, review: @review %>
  </div>

  <div class="flex-item">
    <div id="map-show" style="width: 100%; height: 45vh;"></div>
  </div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map-show' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>





