<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "cooking.svg", class: "" %>
  </a>

  <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
    <%= form_tag(food_tours_path, method: :get, :class => 'form-inline text-center') do %>
      <%= text_field_tag :q, nil, class: 'form-control navb' %>
       <%= button_tag(type: "submit", class: "btn btn-default navbar-search") do %>
        <i class="fa fa-search"></i>
    <% end %>
    <% end %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <a href="/dashboard" class="navbar-wagon-item navbar-wagon-link">Dashboard</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <%= image_tag (current_user.avatar || "user.png"), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: { toggle: 'dropdown' } %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/food_tours/new">Add a foodtour</a></li>
          <li><a href="/users/edit">Edit profile</a></li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'log-out' %>
        </ul>
      </div>
    </div>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary sign-in' %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary sign-up' %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>

